<form class="login-form">
  <div lass="create-post-header">
     <h1 class="title has-text-centered">LogIn</h1>
  <div>
    <label for="username">User name:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
  </div>
</form>
<script src="/js/login.js"></script>